@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@300&display=swap" rel="stylesheet');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    z-index: 100;
}

.logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3f9406;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
}

#menu {
    list-style-type: none;
    margin: -25px;
    padding: 0;
    display: flex;
}

#menu li a {
    text-decoration: none;
    color: #3f9406;
    padding: 0px 40px;
    justify-content: end;

}

/* Login Button */
#menu .login-button {
    margin-left: 1.5rem;
    /* Add margin to separate from other menu items */
}

/* Additional CSS for positioning the login button */
#menu .login-button {
    margin-left: auto;
    /* Push the login button to the right */
}

.image {
    position: relative;
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
}

.image img {
    width: 100%;
    height: 150%;
}

.centered-search {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 66%;
    /* Add this line */
    background-color: #6bf013;
    padding: 0;
    border-radius: 8px;
    margin-top: 8rem;
}

#search-form input[type="text"] {
    padding: 15px;
    width: 23.3rem;
    margin: 5px;
    border: 4px solid #3f9406;
    border-radius: 8px;
}

#search-form button {
    padding: 10px;
    width: 8rem;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #3f9406;
    cursor: pointer;
}

button[type="submit"] .uil.uil-search-alt {
    /* Add your desired styles here */
    color: #fff;
    font-size: 20px;
}

#search-form button:hover {
    background-color: #6bf013;
    transition: 0.3s ease-in-out;
}



#search-form input[type="text"],
#search-form button {
    border-style: solid;
    margin-right: -5px;
}

#homepage {
    position: relative;
    /* Add this line */
    height: 100vh;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#homepage h1 {
    margin-top: -19rem;
    margin-right: -20px;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #a51414;
    text-align: left;
    /* Adjust the margin-top as needed */
}

#homepage p {

    color: #a51414;
    font-size: 2rem;
    margin-top: -15rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: -5rem;
    margin-left: -40rem;

}

/*Features*/
.features-title {
    margin-top: 14rem;
    margin-left: 1rem;
}

#features {
    margin: 5px;
    padding: 5px;
    border: 2px solid #3f9406;
}

#features2 {
    margin: 5px;
    padding: 5px;
    border: 2px solid #3f9406;
}

#features3 {
    margin: 5px;
    padding: 5px;
    border: 2px solid #3f9406;
}

.footer {
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccf3b2;
    background-color: #e0f7d1;
}

.footer-head {
    font-size: 2rem;
    text-align: center;
}

.footer-text {
    font-size: 1.5rem;
    text-align: center;
}

.footer,
p {
    font-size: 20px;
    text-align: justify;
}



.contact,
p,
ul li{
    text-align: center;
    list-style: none;
    text-decoration: none;
}

/* Styling for the icons */
i.uil.uil-linkedin-alt {
    /* Add desired font size, color, and other styles */
    font-size: 30px;
    color: #0e76a8;
    /* Additional styles such as margin, padding, etc. */
    /* For example: */
    margin-right: 10px;
}

i.uil.uil-linkedin-alt:hover {
    color: #6bf013
}




ion-icon[name="logo-twitter"] {
    /* Add desired font size, color, and other styles */
    font-size: 30px;
    color: #1da1f2;
    /* Additional styles such as margin, padding, etc. */
    /* For example: */
    margin-right: 10px;
}

ion-icon[name="logo-twitter"]:hover {
    color: #6bf013
}

i.uil.uil-github {
    /* Add desired font size, color, and other styles */
    font-size: 30px;
    color: #05193d;
    /* Additional styles such as margin, padding, etc. */
    /* For example: */
    margin-right: 10px;
}

i.uil.uil-github:hover {
    color: #6bf013
}


