/* Default styles */

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  /* Homepage content */
  .image {
    position: relative;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .centered-search {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  /* Features section */
  .features-title {
    padding: 20px;
  }
  
  #features,
  #features2,
  #features3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #features img,
  #features2 img,
  #features3 img {
    width: 100px;
    margin-right: 10px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
  }
  
  /* Media queries for responsiveness */
  
  /* Small screens */
  @media (max-width: 767px) {
    /* Header */
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    nav {
      margin-top: 10px;
    }
  
    /* Homepage content */
    .text {
      font-size: 18px;
    }
  
    /* Features section */
    #features,
    #features2,
    #features3 {
      flex-direction: column;
    }
  
    #features img,
    #features2 img,
    #features3 img {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  /* Medium screens */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Homepage content */
    .text {
      font-size: 24px;
    }
  }
  
  /* Large screens */
  @media (min-width: 1024px) {
    /* Homepage content */
    .text {
      font-size: 32px;
    }
  }
  