/* Default styles */

/* ... */

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .footer-head {
    margin-bottom: 10px;
  }
  
  .footer-text {
    margin-bottom: 20px;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .contact {
    margin-top: 20px;
  }
  
  /* Media queries for responsiveness */
  
  /* Small screens (iPhone 7 and similar devices) */
  @media (max-width: 375px) {
    /* ... */
  
    /* Footer */
    .footer {
      text-align: center;
      background-color: #f5f5f5;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .footer p {
      margin-bottom: 5px;
    }
  }
  